* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(200, 200, 200);
}

#lightBox {
  position: fixed;
  /* display: none; */
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.x {
  font-size: 3em;
  position: fixed;
  top: 0;
  right: 0;
  color: #fff;
}

#search {
  position: fixed;
  height: 2.75em;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
}
#searchBox {
  display: block;
  margin: 0.75em auto;
  border-radius: 0.5em;
  height: 2em;
  padding: 0.5em;
}
#thumbnails {
  display: grid;
  width: 80vw;
  padding-top: 3em;
  padding-bottom: 0.25em;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
}
#thumbnails img {
  justify-self: center;
  box-shadow: 4px 4px 4px gray;
}
footer {
  color: gray;
  height: 2.75em;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  text-align: right;
  padding: 1em 1em 0 0;
}
@media (max-width: 63em) {
  #thumbnails {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 45em) {
  #thumbnails {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 33em) {
  #thumbnails {
    grid-template-columns: 1fr;
    align-content: center;
    overflow: hidden;
  }
  #thumbnails img {
    width: 150px;
  }

  footer {
    font-size: 0.75em;
    padding: 0.5em 0.5em 0 0;
  }
}
